body {
  text-align: center;
  background-color: #0b0c10;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 5rem;
  color: #66fcf1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 0 #c5c6c1;
}
h6{
  font-size: 1rem;
  margin-top: -30px;
  color: #66fcf1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.w {
  background-image: url(./images/tom1.png);
}

.a {
  background-image: url(./images/tom2.png);
}

.s {
  background-image: url(./images/tom3.png);
}

.d {
  background-image: url(./images/tom4.png);
}

.j {
  background-image: url(./images/snare.png);
}

.k {
  background-image: url(./images/crash.png);
}

.l {
  background-image: url(./images/kick.png);
}

.set {
  padding-top: 200px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #c5c6c1;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #45a29e;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
}
.pressed .red{
  position: fixed;
  margin-left: -68px;
  margin-top: -220px;
  border-top: 200px solid red;
  border-bottom: 10px solid red;
  border-left: 40px solid red;
  border-right: 40px solid red;
}
.pressed .orange{
  position: fixed;
  margin-left: -58px;
  margin-top: -220px;
  border-top: 200px solid orange;
  border-bottom: 10px solid orange;
  border-left: 40px solid orange;
  border-right: 40px solid orange;
}
.pressed .yellow{
  position: fixed;
  margin-left: -55px;
  margin-top: -220px;
  border-top: 200px solid yellow;
  border-bottom: 10px solid yellow;
  border-left: 40px solid yellow;
  border-right: 40px solid yellow;
}
.pressed .green{
  position: fixed;
  margin-left: -60px;
  margin-top: -220px;
  border-top: 200px solid green;
  border-bottom: 10px solid green;
  border-left: 40px solid green;
  border-right: 40px solid green;
}
.pressed .blue{
  position: fixed;
  margin-left: -50px;
  margin-top: -220px;
  border-top: 200px solid blue;
  border-bottom: 10px solid blue;
  border-left: 40px solid blue;
  border-right: 40px solid blue;
}
.pressed .indigo{
  position: fixed;
  margin-left: -60px;
  margin-top: -220px;
  border-top: 200px solid indigo;
  border-bottom: 10px solid indigo;
  border-left: 40px solid indigo;
  border-right: 40px solid indigo;
}
.pressed .violet{
  position: fixed;
  margin-left: -50px;
  margin-top: -220px;
  border-top: 200px solid violet;
  border-bottom: 10px solid violet;
  border-left: 40px solid violet;
  border-right: 40px solid violet;
}
